@import "../index.scss";
.footer {
    background-color: #333;
    padding: 10rem 0;
    font-size: 1.4rem;
    @include respond(tab-port) {
        padding: 8rem 0;
    }
    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;
    }
    &-logo {
        width: 14rem;
        height: auto;
    }

    &__navigation {
        border-top: 1px solid #777;
        padding-top: 2rem;
        display: inline-block;
        @include respond(tab-port) {
            width: 100%;
            text-align: center;
        }
    }

    &__list {
        list-style: none;
    }
    &__item {
        display: inline-block;
        &:not(:last child) {
            margin-right: 2rem;
        }
    }
    &__copyright {
        border-top: 1px solid #777;
        padding-top: 2rem;
        color: #f7f7f7;
        float: right;
        width: 70%;
        @include respond(tab-port) {
            width: 100%;
            float: none;
            text-align: center;
        }
    }
    &__link {
        &,
        &:link,
        &:visited {
            color: #f7f7f7;
            text-decoration: none;
            font-size: 1.3rem;
            text-transform: uppercase;
            display: inline-block;
            transition: all 0.2s;
            background-color: #333;
            //for button element

            border: none;
            cursor: pointer;
            outline: none;
        }
        &:hover,
        &:active {
            color: rgba(40, 180, 131, 0.8);
            box-shadow: 0 1rem 2rem rgba(black, 0.4);
            transform: rotate(5deg) scale(1.3);
        }
    }
}
